@include breakpoint($large) {
  @include single-transition(all, 1s, ease-out);
  @include layout(24);

  header{
    .h-container{
      width: 100%;
      max-width: 1200px;
      margin-left:2em;
      @include span(24);

      li{
        margin-left:0;

        .globe img{
          height: 30px;
          width: 30px;
        }

        .magglass{
          //float: right;
          color: $minco-white;
          font-size:1.7rem;
          padding-left: 0em;
        }//.fa-search

        .spacing{
          color: white; border: none; padding-left: 1em;
        }//spacing for language selector
      }//li

      .logo{
        width: 70%;
        max-width: 240px;
        float: left;
        padding-left: 1em;
        padding-top: 1em;
        padding-right: 5em;
      }//logo

    }//h-container

  }//header

  //layout ---------------

  .layout {
    @include container(90%);
    padding-top: 2.6em;
    padding-bottom: 0em;
    //padding-left: 10em;
    margin-left: 1.75em;

  //main content
  .content {
    @include container;
    padding-top: 5em;
    padding-bottom: 2em;
    padding-left: 4em;
  }


  main{
    @include span(20.5 at 4.5);
    padding-left: 0.45em;

    .promobox{
      @include container(90%);
      padding-bottom: 1em;
      padding-left: 2.5em;
      @include span(1 of 1);
    }

    .col1, .col2 {
      @include span(2 of 6);
      //padding-left:1em;
      text-align: center;
      vertical-align: center;
      color: #3e3e40;
      border-right: solid 0.1em #595a5c;
      border-top: none;
      border-bottom: none;
      border-left: none;

      p{font-size: 1rem;}
    }//col1, col2

    .col3 {
      @include span(2 of 6);
      //padding-left:1em;
      text-align: center;
      vertical-align: center;
      color: #3e3e40;
      border: none;

      p{font-size: 1rem;}
    }//col3

    .slides-container{
      @include span(1 of 1);
      margin-left: 0;
      margin-bottom: 2em;
    }//.slides-container

  }//main

  aside{
    @include span(3.5 at 0);

    ul.nav{
      display: inline-block;
      padding-left: 5em;
    }//ul

    li{
    }//li

    a{
      @include single-transition(all, .5s, ease-out);
      padding-left: 5em;
      display: block;
      text-decoration: none;
      padding: 5px;
      color: $minco-blue;
      font-size: 1rem;

      .fa{
        top: 1px;
        //float: right;
        color: $minco-blue;
        font-size: 0.7rem;
        -webkit-font-smoothing: antialiased;
        line-height: 1px;
        padding-left: 1em;
        vertical-align: baseline;
      }//fa


      &:hover{
        background: $minco-blue;
        color: $minco-white;


          i{
            top: 1px;
            //float: right;
            color: $minco-white;
            font-size: 0.7rem;
            -webkit-font-smoothing: antialiased;
            padding-left: 1em;
            line-height: 1;
            vertical-align: baseline;
          }//i
      }//a:hover

    }//a

    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
    }//list-group-item

  }//aside


}//layout

// footer--------------------------

  footer{
    @include span(24);

    .box1 {
      @include span(1 of 3);
      font-size: 1rem;
      padding-left:10em;
      text-align: left;
      padding-bottom:1em;

      p{font-size: 1.2rem;}
    }//box1

    .box2 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-top: 0.3em;
      padding-left:0.75em;
      text-align: center;
      padding-top:0.6em;
    }//box2

    .box3 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-left:0em;
      padding-right: 11em;
      text-align: right;


      p{
        line-height: 1.45em;
      }//p
    }//box3
  }
}//large
