@include breakpoint($medium) {
  @include single-transition(all, 1s, ease-out);
  @include layout(24);

  .layout {
    @include container(100%);
    // padding-top: 1.5em;
    padding-bottom: 0em;
    // padding-left: 1.5em;

    .content {
      @include container;
      padding-top: 5em;
      padding-left: 0em;
    }


    main{
      @include span(20.2 at 3.9 omega);
      padding-left: 0em;

      .promobox{
        @include span(1 of 1);
        @include container(170%);
        padding-bottom: 0em;
        padding-left: 0em;
      }

      .col1,
      .col2 {
        @include span(2 of 6);
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border-right: solid 0.1em #595a5c;
        border-top: none;
        border-bottom: none;
        border-left: none;

        p {
          font-size: 0.8rem;
        }
      }

      .col3 {
        @include span(2 of 6);
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border: none;

        p {
          font-size: 0.8rem;
        }
      }

      .slides-container{
        @include span(1 of 1);
        margin-left: 0;
        margin-bottom: 2em;
      }
    }
  }
}
