@include breakpoint($medium) {
  @include single-transition(all, 1s, ease-out);
  @include layout(24);

  .layout {
    @include container(100%);
    // padding-top: 1.5em;
    padding-bottom: 0em;
    // padding-left: 1.5em;

    .content {
      @include container;
      padding-top: 5em;
      padding-left: 0em;
    }
  }
}
