@include breakpoint($small) {
  @include layout(24);

  header{
    .h-container{
      @include span(24);
    }

    .h-container3 {
      @include span(4 omega);
      vertical-align: middle;

      .fa-search{
        float: right;
        color: $minco-white;
        font-size:1.3rem;
        padding-right: 0em;
        padding-left: 0.3em
      }

      .fa-globe{
        float: right;
        color: $minco-white;
        font-size:1.3rem;
        padding-right: 0em;
      }
    }

    .h-nav-container{
      @include span(10 at 12);
      float: right;
    }
  }

  .layout {
    @include container;
    padding-top: 0em;
    padding-bottom: 2em;

  }

  main {
    @include span(24);

    .promobox{
      @include container(170%);
      padding-bottom: 4em;
      padding-left: 0em;
      @include span(1 of 1);
    }

    .col1, .col2 {
      @include span(1 of 1);
      border-left: solid 0.1em #ccc;
      border-top: solid 0.1em #ccc;
      border-right: solid 0.1em #ccc;
      padding: 1em;

      p{
        line-height: 1.2em;
        text-align: center;
      }
    }

    .col3 {
      @include span(1 of 1);
      border: solid 0.1em #ccc;
      padding: 1em;

      p{
        line-height: 1.2em;
        text-align: center;
      }
    }

    .slides-container{
      @include span(1 of 1);
      margin-bottom: 2em;
    }
  }
}
