@include breakpoint($small) {
  @include layout(24);

//header elements ---------------------------

header{
.h-logo-container{
  @include span(10 at 0);

}//.h-logo-container

.h-container3 {
  @include span(4 omega);
  vertical-align: middle;

  .fa-search{
    float: right;
    color: $minco-white;
    font-size:1.3rem;
    //padding-top: 1.3em;
    padding-right: 0em;
    padding-left: 0.3em
  }//.fa-search

  .fa-globe{
    float: right;
    color: $minco-white;
    font-size:1.3rem;
    //padding-top: 1.3em;
    padding-right: 0em;
  }//.fa-globe
}

.h-nav-container{
  @include span(10 at 12);
  float: right;

}//h-nav-container


.logo{
  width: 150%;
  max-width: 300px;
  float: left;
  padding-left: 1em;
  padding-top: 1.5em;
}//logo

}//header

  main{
    @include span(24);

    .col1, .col2 {
      @include span(1 of 1);
      border-left: solid 0.1em #ccc;
      border-top: solid 0.1em #ccc;
      border-right: solid 0.1em #ccc;
      padding: 1em;

      p{
        line-height: 1.2em;
        text-align: center;
      }//p
    }//.col1 & .col2

     .col3 {
       @include span(1 of 1);
       border: solid 0.1em #ccc;
       padding: 1em;


       p{
         line-height: 1.2em;
         text-align: center;
       }//p
     }//col3
 }//main

  aside{
    @include span(24);
  }//aside

  footer{
    @include span(24);
    .box1 {
      @include span(1 of 1);
      text-align: center;
      padding: 0px;

      p{
        font-size: 0.9rem;
      }//p
    }//.box1

    .box2 {
      @include span(1 of 1);
      text-align: center;
      padding-bottom: 2em;

      p{
        font-size: 0.9rem;
      }//p
    }//.box2

    .box3 {
      @include span(1 of 1);
      text-align: center;

      p{
        font-size: 0.9rem;
        line-height: 1em;
      }//p
    }//.box3
  }//footer

}//small
