@include breakpoint($small) {
  @include layout(24);

//header elements ---------------------------

header{
.h-container{
    @include span(1 of 1);

      ul {

        li{

          a{

            .globe img{
              height: 30px;
              width: 30px;
            }//globe

            .magglass{
              //float: right;
              color: $minco-white;
              font-size:1.7rem;
              padding-bottom: 0.5em;
              //min-height: 70px;
            //  min-width: 30px;
            }//search
        }//a
      }//li
    }//ul
  }//.h=-container


/*}//.h-logo-container

.h-container3 {
  @include span(4 omega);
  vertical-align: middle;


}

.h-nav-container{
  @include span(10 at 12);
  float: right;

}//h-nav-container*/


.logo{
  width: 70%;
  //max-width: 300px;
  float: left;
  //padding-left: 0.3em;
  padding-top: 1.5em;
}//logo

}//header

//main content area

  .content {
    @include container;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 0em;
  }

  main{
    @include span(24);

    .col1, .col2 {
      @include span(1 of 1);
      border-left: solid 0.1em #ccc;
      border-top: solid 0.1em #ccc;
      border-right: solid 0.1em #ccc;
      padding: 1em;

      p{
        line-height: 1.2em;
        text-align: center;
      }//p
    }//.col1 & .col2

     .col3 {
       @include span(1 of 1);
       border: solid 0.1em #ccc;
       padding: 1em;


       p{
         line-height: 1.2em;
         text-align: center;
       }//p
     }//col3
 }//main

//slideshow -----------------

.slides-container{
  @include span(1 of 1);
  padding-left: 0em;
  margin-bottom: 2em;
}

// sidebar ---------------
  aside{
    @include span(24);
  }//aside

  footer{
    @include span(24);
    .box1 {
      @include span(1 of 1);
      text-align: center;
      padding: 0px;

      p{
        font-size: 0.9rem;
      }//p
    }//.box1

    .box2 {
      @include span(1 of 1);
      text-align: center;
      padding-bottom: 2em;

      p{
        font-size: 0.9rem;
      }//p
    }//.box2

    .box3 {
      @include span(1 of 1);
      text-align: center;

      p{
        font-size: 0.9rem;
        line-height: 1em;
      }//p
    }//.box3
  }//footer

}//small
