$susy: (
  columns: 12,
  gutters: 1/20,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$small: 320px;
$medium: 800px;
$ipad: 1024px;
$large: 1200px;

//body ---------------------------
body {
  background: #fff;
  @include container(100%);
}

//content ---------------------------

.l-constrained {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}




//main ------------------------------

main {
  background: $minco-white;
  margin-top: .2em;
  height: 100%;
  @include span(10);
  float: right;
}

.promobox{
  padding-bottom: 3em;
  @include span(1 of 1);
}

.col1, .col2, .col3 {
  a{
    @include single-transition(all, .5s, ease-out);
    text-decoration: none;
    color: $minco-blue;

    .fa{
      top: 1px;
      //float: right;
      color: $minco-blue;
      -webkit-font-smoothing: antialiased;
      line-height: 1px;
      vertical-align: baseline;
      padding-left: 0.3em;
      font-size: 1em;
    }//fa


    &:hover{
      color: $minco-black;


        i{
          top: 1px;
          color: $minco-blue;
          -webkit-font-smoothing: antialiased;
          line-height: 1;
          vertical-align: baseline;
          padding-left: 0.3em;
          font-size: 1em;
        }//i
    }//a:hover

  }//a


}//cols





//aside ------------------------------

aside{
  margin-top: .2em;
  @include span(2 at 0);
  background: $minco-white;
  float: left;
  padding-left: 5em;
  border-right: solid 0.1em $minco-blue;
  padding-bottom:0.85em;

/*  .sidebar-container{
    border-right: solid 0.1em $minco-blue;
  }*/

  ul.nav{
    display: inline-block;
    padding-left: 5em;
  }//ul

  li{
  }//li

  a{
    @include single-transition(all, .5s, ease-out);
    padding-left: 5em;
    display: block;
    text-decoration: none;
    padding: 5px;
    color: $minco-blue;
    //font-size: 2rem;

    .fa{
      top: 1px;
      //float: right;
      color: $minco-blue;
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;
      line-height: 1px;
      padding-left: 1em;
      vertical-align: baseline;
    }//fa


    &:hover{
      background: $minco-blue;
      color: $minco-white;


        i{
          top: 1px;
          //float: right;
          color: $minco-white;
          font-size: 0.7rem;
          -webkit-font-smoothing: antialiased;
          padding-left: 1em;
          line-height: 1;
          vertical-align: baseline;
        }//i
    }//a:hover

  }//a

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
  }//list-group-item
}//aside

//header ---------------------------
header{
    overflow: hidden;
    border-bottom: $border-thick;


    // Gradient
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #595658),
      color-stop(1, #000000)
    );
    background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #595658 0%, #000000 100%);



}//header
