$susy: (
  columns: 12,
  gutters: 1/20,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$small: 320px;
$medium: 800px;
$ipad: 1024px;
$large: 1366px;

//body ---------------------------
body {
  background: #fff;
  @include container(100%);
}

//content ---------------------------

.l-constrained {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}




//main ------------------------------

main {
  background: $minco-white;
  margin-top: .2em;
  //height: 100%;
  @include span(10);
  float: right;
}

.promobox{
  padding-bottom: 3em;
  @include span(1 of 1);
}

.col1, .col2, .col3 {
  a{
    @include single-transition(all, .5s, ease-out);
    text-decoration: none;
    color: $minco-blue;

    .fa{
      top: 1px;
      //float: right;
      color: $minco-blue;
      -webkit-font-smoothing: antialiased;
      line-height: 1px;
      vertical-align: baseline;
      padding-left: 0.3em;
      font-size: 1em;
    }//fa


    &:hover{
      color: $minco-black;


        i{
          top: 1px;
          color: $minco-blue;
          -webkit-font-smoothing: antialiased;
          line-height: 1;
          vertical-align: baseline;
          padding-left: 0.3em;
          font-size: 1em;
        }//i
    }//a:hover

  }
}

//header ---------------------------
header{
    overflow: hidden;
    border-bottom: $border-thick;


    // Gradient
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #595658),
      color-stop(1, #000000)
    );
    background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #595658 0%, #000000 100%);



}//header
