.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid $minco-blue;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

#contactDetBox {
    position: absolute;
    width: 388px;
    height: 190px;
    z-index: 3;
    left: 284px;
    top: 162px;
    background-color: #F7FAFB;
    border: 1px solid #007bc0;
}
