footer{
  color:$minco-white;
  background: $minco-black;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: $border-thick-footer;

  .box1 {
    @include span(1 of 1);
    text-align: center;

    p {font-size: 1rem;}
    }//box1

  .box2 {
    @include span(1 of 1);
    font-size: 0.9rem;
    text-align: center;
    padding-top:1.3em;

    p {font-size: 0.8rem;}

  }//box2


  .box3 {
    @include span(1 of 1);
    font-size: 0.9rem;
    text-align: center;
    //padding-top:1em;

    p {
      line-height: 1.3em;
      font-size: 0.7rem;
    }
  }//box3

  a{
    @include single-transition(all, .5s, ease-out);
    text-decoration: none;
    color: $minco-white;

    &:hover,
    &:active,
    &:focus {
      color: $minco-blue;
      i{
        color: $minco-blue;
      }//i
    }//link states
  }//a

  i{
    color: $minco-white;
    font-size:1.4rem !important;
    padding-right: 0.5em;
    padding-top: 0.6em;
    vertical-align: text-middle;
  }

  @include respond-to($medium) {
      @include span(24);
      padding: 0px;
      height: auto;

      .box1 {
        @include span(1 of 3);
        padding-left:3em;
        text-align: left;
        padding-top: 1.1em;


        p {
          font-size: 1rem;
        }
      }//box1

      .box2 {
        @include span(1 of 3);
        font-size: 0.9rem;
        padding-top:0.5em;
        text-align: center;
        padding-top:1.3em;

        p {
          font-size: 0.8rem;
        }
      }//box2

      .box3 {
        @include span(1 of 3);
        font-size: 0.9rem;
        padding-right: 3em;
        text-align: right;
        padding-top:1em;

        p {
          line-height: 1.3em;
          font-size: 0.7rem;
        }
      }//box3
  }//medium breakpoint

  @include respond-to($ipad) {
    @include span(24);
    height: auto;

    .box1 {
      @include span(1 of 3);
      text-align: left;
      padding-top:1.5em;

      p{font-size: 1.2rem;}
    }//box1

    .box2 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-top:1.8em;
      text-align: center;
    }//box2

    .box3 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-right: 3em;
      text-align: right;
      padding-top: 1.5em;


      p{
        line-height: 1.3em;
      }
    }//box 3
  }//ipad breakpoint

  @include respond-to($large) {
    @include span(24);

    .box1 {
      @include span(1 of 3);
      font-size: 1rem;
      padding-left:10em;
      text-align: left;
      padding-top:1.5em;

      p{
        font-size: 1.2rem;
      }
    }//box1

    .box2 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-top: 0.3em;
      padding-left:0.75em;
      text-align: center;
      padding-top:2.4em;
    }//box2

    .box3 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-left:0em;
      padding-top:1.8em;
      //padding-right: 11em;
      text-align: right;

      p{
        font-size: 0.8rem;
        line-height: 1.4em;
        letter-spacing: 0.0625em;
      }
    }//box3
  }//large breakpoint

  .phone-no{
  @include respond-to($medium) {}
  @include respond-to($ipad) {
    font-size: 0.98rem !important;
    padding-bottom: 1em !important;
    vertical-align: text-middle !important;
  }
  @include respond-to($large) {}
 }//phone-no

}//footer
