.logo {

    img {
      @include single-transition(all, 1s, ease-out);
      width: 100%;
      max-width: 178px;
      float: left;
      padding-left: 1em;
      padding-top: 1.1em;
      vertical-align: middle;

      @include respond-to($medium) {padding-top: 0.55em !important; margin-left: 0.7em !important;}
      @include respond-to($ipad) {padding-top: 0.55em !important; margin-left: 1.15em !important;}
      @include respond-to($large) {padding-top: 0.7em !important;   margin-left: 4.2em !important;}
    }
/*
    @include breakpoint(350px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 70%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(370px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 70%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(390px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 70%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(410px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 60%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(430px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 60%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(460px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 50%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(540px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 40%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(650px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 40%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(680px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 40%;
        //padding-left: 2em;
      }
    }

    @include breakpoint(700px) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 30%;
        //padding-left: 2em;
      }
    }

    @include breakpoint($medium) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 30%;
        padding-left: 2em;
      }
    }

    @include respond-to($ipad) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 25%;
        padding-left: 3.3em;
      }
    }

    @include respond-to($large) {
      @include single-transition(all, 1s, ease-out);

      img {
        width: 25%;
        padding-left: 0;
        padding-top: 1em;
        padding-right: 5em;
      }
    }*/
}//logo
