//navigation ---------------------------
.navigation{
  float: left;


  ul.nav{
    display: inline-block;

    li{
    }//li

    a{
      @include single-transition(all, .5s, ease-out);
      display: block;
      text-decoration: none;
      padding: 5px;
      padding-bottom: 5px;
      color: $minco-white;


      &:hover{
        background: $minco-blue;
      }//a:hover

    }//a


  }//ul.nav

}//navigation

.nav__item {
  list-style: none;
  border-left: 1px solid $minco-white-transparent;


  @include respond-to(45em) {
    display: inline-block;
    margin-right: -4px;
  }

  &:last-of-type {
    border-right: 1px solid $minco-white-transparent;
  }
}

.nav__link {
  display: block;
  padding:1.5em;
  color: $minco-white;
  font-weight: $font-medium;
  text-decoration: none;
  padding: baseline-unit(7) baseline-unit(3);

  &:hover,
  &:active,
  &:focus {
    background-color: $minco-blue;
  }

}
