.sidebar {
  @include span(22);
  @include push(1);
  background: $minco-white;
  margin-top: .2em;

  @include respond-to($medium) {
    @include span(3);
    @include push(0);
    padding-bottom:0em;
  }

  @include respond-to($large) {
    @include span(3);
    @include push(0);
  }
}

.sidebar__list {
  display: inline-block;
  width: 100%;
}

.sidebar__link {
  @include single-transition(all, .5s, ease-out);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  padding-left: 5em;
  display: block;
  text-decoration: none;
  padding: 5px;
  color: $minco-blue;

  .fa {
    display: none;
    top: 1px;
    color: $minco-blue;
    font-size: 0.7rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1px;
    padding-left: 1em;
    vertical-align: baseline;
  }

  &:hover {
    background: $minco-blue;
    color: $minco-white;

    i {
      top: 1px;
      color: $minco-white;
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;
      padding-left: 1em;
      line-height: 1;
      vertical-align: baseline;
    }
  }

  @include respond-to($medium) {
    @include single-transition(all, .5s, ease-out);
    // padding-left: 5em;
    display: block;
    text-decoration: none;
    color: $minco-blue;
    font-size: 0.8rem;
  }

  @include respond-to($large) {
    font-size: 1rem;
  }
}
