.sidebar {
  @include span(24);
  @include push(1);
  background: $minco-white;
  //margin-top: 0.2em;
  border-right: solid 1px $minco-blue;
  padding-left:1em;


  @include respond-to($medium) {
    @include span(3.5);
    @include push(0);
    @include single-transition(all, .5s, ease-out);
    // padding-left: 5em;
    display: block;
    text-decoration: none;
    color: $minco-blue;
    font-size: 0.8rem;
    padding-bottom:0em;

    .sidebar__link {font-size: 0.9rem;}
  }

  @include respond-to($semi-large) {
    @include span(3);
    @include push(0);
    font-size: 1rem;
  }

  @include respond-to($large) {
    @include span(3);
    @include push(0);
    font-size: 1rem;
  }


.sidebar__list {
  display: inline-block;
  width: 100%;

  @include respond-to($medium) {padding-left: 0.5em;}
}

.sidebar__link {
  @include single-transition(all, .5s, ease-out);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  padding-left: 6em;
  display: block;
  text-decoration: none;
  padding: 5px;
  color: $minco-blue;

  @include respond-to($medium) {
    font-size:0.85rem;
    padding: 3px !important;
  }

  @include respond-to($ipad) {
    font-size:1rem;
    padding: 20px;
  }



  @include respond-to($large) {
    font-size:1rem;
    padding: 5px !important;
  }

}

.sidebar__list-item{
  //padding-left: 0.7em;

  @include respond-to($medium) {padding-left: none !important;   font-size: 0.8rem;}

  @include respond-to($ipad) {
    padding-left: 0.4em !important;
  }

}

  .fa-chevron-right {
    display: none;
    top: 1px;
    color: $minco-blue;
    font-size: 0.7rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1px;
    padding-left: 1em;
    vertical-align: baseline;
  }

  &:hover {
    background: $minco-blue;
    color: $minco-white;

    i {
      top: 1px;
      color: $minco-white;
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;
      padding-left: 1em;
      line-height: 1;
      vertical-align: baseline;
    }//i
  }//&:hover
}//sidebar
