.layout {
  @include single-transition(all, 1s, ease-out);
  @include container;
  padding-top: 0em;
  padding-bottom: 2em;
  padding-left: 0em;


  @include respond-to($medium) {
    @include single-transition(all, 1s, ease-out);
    @include container(100%);
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 1.7em;
  }

  @include respond-to($medium2) {
    @include single-transition(all, 1s, ease-out);
    @include container(100%);
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 1.7em;
  }

  @include respond-to($medium3) {
    @include single-transition(all, 1s, ease-out);
    @include container(100%);
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 1.7em;
  }

  @include respond-to($medium4) {
    @include single-transition(all, 1s, ease-out);
    @include container(100%);
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 1.7em;
  }

  @include respond-to($ipad) {
    @include single-transition(all, 1s, ease-out);
    padding-top: 2em;
    padding-left: 3em;
  }


    @include respond-to($semi-large) {
      @include single-transition(all, 1s, ease-out);
      padding-left: 9.2em;
      padding-top:2.5em;
    }

  @include respond-to($large) {
    @include single-transition(all, 1s, ease-out);
    margin-left: 6em;
    padding-left: 8.17em;
    padding-top:2.5em;
  }
}//layout
