footer{
  color:$minco-white;
  background: $minco-black;
  height: 230px;
  border-top: $border-thick-footer;

  .box1 {
    @include span(1 of 1);
    text-align: center;

    p {font-size: 1rem;}
    }//box1


  .box2 {
    @include span(1 of 1);
    font-size: 0.9rem;
    text-align: center;

    p {font-size: 0.8rem;}

  }//box2


  .box3 {
    @include span(1 of 1);
    font-size: 0.9rem;
    text-align: center;
    //padding-top:1em;

    p {
      line-height: 1.3em;
      font-size: 0.7rem;
    }
  }//box3

  a{
    @include single-transition(all, .5s, ease-out);
    text-decoration: none;
    color: $minco-white;

    &:hover,
    &:active,
    &:focus {
      color: $minco-blue;
      i{
        color: $minco-blue;
      }//i
    }//link states
  }//a

  i{
    color: $minco-white;
    font-size:1.4rem !important;
    padding-right: 0.5em;
    //padding-top: 0.6em;
    vertical-align: text-middle;
  }

  @include respond-to($medium) {
      @include span(24);
      padding: 0px;
      height: auto;

      .box1 {
        @include span(1 of 3);
        padding-left:3em;
        text-align: left;

        .tel{padding-top:30px !important;}


        p {
          font-size: 1rem;
        }


        a{
          @include single-transition(all, .5s, ease-out);
          text-decoration: none;
          color: $minco-white;
          //margin-bottom: 20px !important;

          &:hover,
          &:active,
          &:focus {
            color: $minco-blue;
            i{
              color: $minco-blue;
            }//i
          }//link states
        }//a

      }//box1

      .box2 {
        @include span(1 of 3);
        font-size: 0.9rem;
        //padding-top:0.5em;
        text-align: center;
        padding-top:1.3em;

        p {
          font-size: 0.8rem;
        }
      }//box2

      .box3 {
        @include span(1 of 3);
        font-size: 0.9rem;
        padding-right: 3em;
        text-align: right;
        padding-top:1em;

        p {
          line-height: 1.3em;
          font-size: 0.7rem;
        }
      }//box3
  }//medium breakpoint

  @include respond-to($ipad) {
    @include span(24);
    height: auto;

    .box1 {
      @include span(1 of 3);
      text-align: left;

      .tel{padding-top:30px !important;}

      p{
        font-size: 1.2rem;
        vertical-align: text-center;
        }
    }//box1

    .box2 {
      @include span(1 of 3);
      font-size: 0.9rem;
      //padding-top:1.8em;
      text-align: center;

      p{
        //vertical-align: text-center;
        }
    }//box2

    .box3 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-right: 3em;
      text-align: right;
      //padding-top: 1.5em;
      vertical-align: top !important;


      p{
        line-height: 1.3em;
      }
    }//box 3
  }//ipad breakpoint

  @include respond-to($large) {
    @include span(24);

    .box1 {
      @include span(1 of 3);


      td{text-align: center !important;}
      .tel{padding-top:30px !important;}


      p{
        font-size: 1.2rem;
      }
    }//box1

    .box2 {
      @include span(1 of 3);
      font-size: 0.9rem;
      //padding-left:0.75em;
      text-align: center;

      //.t-c{padding-top: 15px !important;}
    }//box2

    .box3 {
      @include span(1 of 3);
      font-size: 0.9rem;
      padding-left:0em;
      text-align: right;


      p{
        font-size: 0.8rem;
        line-height: 1.4em;
        letter-spacing: 0.0625em;
      }
    }//box3
  }//large breakpoint


}//footer
