header{
  overflow: hidden;
  border-bottom: $border-thick;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #595658),
  color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #595658 0%, #000000 100%);
}

.menu {
  float: right;
}
