header{
  overflow: hidden;
  border-bottom: $border-thick;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #595658),
  color-stop(1, #000000)
  );
  background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #595658 0%, #000000 100%);

  @include respond-to($small) {
    .h-container{
      @include span(24);
    }

    .animenu__nav li a{
      padding: 1em;
      font-size: 1rem;
    }
  }//small

  @include respond-to($medium) {
    @include single-transition(all, 1s, ease-out);
    @include layout(24);

    .h-container{
      @include container(80%);
      width: 100%;
      max-width: 1200px;
      @include span(24);
    }

    .magglass{
      color: $minco-white;
      font-size:1.7rem;
      padding-left: 0em;
    }//.fa-search

    .spacing{
      color: white; border: none; padding-left: 1em;
    }

    .animenu__nav li a{
      padding: 1em;
      font-size: 1rem;
    }
  }//medium

    @include respond-to($large) {
    @include single-transition(all, 1s, ease-out);
    @include layout(24);

    .h-container{
      width: 100%;
      max-width: 1200px;
      margin-left:2em;
      @include span(24);
    }

    .magglass{
      color: $minco-white;
      font-size:1.7rem;
      padding-left: 0em;
    }//.fa-search

    .spacing{
      color: white; border-right: none; padding-left: 6em;
    }//spacing for language selector

    .globe{
      border-right: none;
    }//spacing for language selector



    .animenu__nav li a{
      padding: 1.5em;
      margin-bottom: 0em;
      font-size: 1rem;
    }//.animenu__nav li a
  }//large

}//header

/*.menu {
  float: right;
}*/

.globe li a:hover{
  color: #00ff00;
}

.magglass{
  color: $minco-white;
  font-size:1.5rem;
  padding-left: 0em;
}

.magglass li a:hover{
  color: #0000ff;
}



.globe {
    padding: 1em 1em 0 0 !important;
    background: none url(images/globe.png) no-repeat scroll right center;
}

.globe:hover {
        background: none  url(images/blue-globe.png) no-repeat scroll right center !important;
    }


.magglass:hover {
  background: none !important;
  font-color: #007bc0;
}

.globe-wrapper ul {
    padding: 0;
    list-style: none;
}

.globe-wrapper ul li {
	float: left;
	width: 100px;
	text-align: center;
	line-height: 21px;
}

.globe-wrapper ul li a {
	display: block;
	padding: 5px 10px;
	color: #fff;
	background: #000;
	text-decoration: none;
}

 .globe-wrapper  ul li a:hover {
	color: #007bc0;
}

.globe-wrapper ul {
	display: none;
}

.globe-wrapper:hover ul {
	display: block; /* display the dropdown */
}
