<footer>
  <div class="box1"><br />
      <p style="font-size: 0.9rem" align="left"><a style="padding-left:10px; vertical-align: middle;" style="vertical-align: bottom;" class="footer-content" href="tel:"><i class="fa fa-phone"></i>+44 20 8133 3916</a></p>
  </div><!-- section footer -->
  <div class="box2"><br />
    <p style="font-size: 0.9rem" align="centre"><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
  </div><!-- section footer -->
  <div class="box3">
    <p style="font-size: 0.9rem; line-height: 1.3rem;" align="right">Minco UK Ltd &#169; 2014, All rights reserved Co Reg No 3135911, VAT No 618 3986 04</p>
  </div><!-- section footer -->
</footer><!-- footer -->
