<footer>
  <div class="l-constrained">
    <div class="box1">
      <p><a style="padding-left:10px;" style="vertical-align: bottom;" class="footer-content" href="tel:"><i class="fa fa-phone"></i>+44 20 8133 3916</a></p>
    </div>
    <div class="box2">
      <p><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
    </div>
    <div class="box3">
      <p>Minco UK Ltd &#169; 2014. All rights reserved<br/>Co Reg No 3135911. VAT No 618 3986 04</p>
    </div>
  </div>
</footer>
