<footer>
  <div class="box1"><br />
      <p style="font-size:1.3rem; padding-top:0.25em;"><a style="padding-left:10px; vertical-align: middle;" class="footer-content" href="tel:"><i class="fa fa-phone"></i>+44 20 8133 3916</a></p>
  </div><!-- section footer -->  <div class="box2"><br />
    <p style="padding-top:1em;"><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
  </div><!-- section footer -->
  <div class="box3">
    <p style="padding-top:0.5em;">Minco UK Ltd &#169; 2014. All Rights Reserved</p> <p>Co Reg No 3135911. VAT No 618 3986 04</p>
  </div><!-- section footer -->
</footer><!-- footer -->
