<footer>
  <div class="l-constrained">
	<div class="box1">
    	<table height="60px" width="auto" class="center">
        	<tr>
            	<td class="tel" valign="middle"><a href="tel:+44 20 8133 3916"><!--<i class="fa fa-phone"></i>-->Tel: +44 20 8133 3916</a></td>
            </tr>
        </table>

    </div>
    <div class="box2">
      <table height="60px" width="auto" align="center" class="center">
        	<tr>
            	<td valign="middle" class="t-c"><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></td>
             </tr>
       </table>
    </div>
    <div class="box3">
    <table height="60px" width="auto" align="center" class="center">
        	<tr>
            	<td valign="middle"><p>Minco UK Ltd &#169; 2015. All rights reserved <br/>Co Reg No 3135911. VAT No 618 3986 04</p></td>
            </tr>
    </table>
    </div>




    <!--<div class="box1">
      <a style="padding-left:10px;" class="footer-content phone-no" href="tel:+44 20 8133 3916"><i class="fa fa-phone"></i><span style:"padding-bottom: 1em;">+44 20 8133 3916</p></a>
    </div>
    <div class="box2">
      <p><a href="">Terms of Use</a> | <a href="">Privacy Policy</a></p>
    </div>
    <div class="box3">
      <p>Minco UK Ltd &#169; 2015. All rights reserved<br/>Co Reg No 3135911. VAT No 618 3986 04</p>
    </div>-->
  </div>
</footer>
