<header>
  <div class="l-constrained">
    <div class="h-logo-container">
      <div class="logo">
        <a href="/">
          <%= image_tag 'MincoLogo.png' %>
        </a>
      </div><!-- logo-->
    </div><!-- h-logo-container-->
    <div class="h-nav-container">
      <nav role="navigation">
        <!--<div class="rmm">
             <ul>
				       <li><a href="/about.html">Company</a></li>
          		 <li><a href="">Products</a></li>
		           <li><a href="">Washing</a></li>
               <li><a href="">CSR</a></li>
               <li><a href="">Contact Us</a></li>
             </ul>
        </div>-->
        <ul class="nav">
          <li class="nav__item"><a class="nav__link" href="/about.html">Company</a></li>
          <li class="nav__item"><a class="nav__link" href="">Products</a></li>
          <li class="nav__item"><a class="nav__link" href="">Washing</a></li>
          <li class="nav__item"><a class="nav__link" href="">CSR</a></li>
          <li class="nav__item"><a class="nav__link" href="">Contact Us</a></li>
        </ul>
     </nav>
    </div><!-- h-nav-container -->
    <div class="h-container3">
      <i class="fa fa-search"></i>
      <i class="fa fa-globe"></i>
    </div><!--l-constrained -->
  </div><!--h-container3 -->
</header><!-- header-->
