<header>
  <div class="l-constrained">
    <div class="h-container">
      <ul role="menubar">
         <li style="padding-right: 3em;" role="menuitem">
           <h1>
             <div class="logo">
               <a href="#">
                 <%= image_tag 'MincoLogo.png' %>
               </a>
             </div>
           </h1>
         </li><!--logo-->
         <li>
           <nav class="animenu">
             <button class="animenu__toggle">
               <span class="animenu__toggle__bar"></span>
               <span class="animenu__toggle__bar"></span>
               <span class="animenu__toggle__bar"></span>
             </button>
           <ul style="float: left;  padding-left: 2em;" class="animenu__nav">
             <li style="company"><a style="company" href="#">Company</a></li>
             <li><a href="#">Products</a></li>
             <li><a href="#">Washing</a></li>
             <li><a href="#">CSR</a></li>
             <li><a href="#">Contact Us</a></li>
           </ul>

            <ul>
              <li style="list-style-type: none; color: white; border: none; padding-left: 0em;"><a class="magglass" href="#"><i class="magglass fa fa-search"></i></a></li>

              <li style="list-style-type: none; border: none;" class="spacing globe-wrapper">

                <div style="padding: 0;">
                  <a class="globe" href="#">
                    <img src='images/europe-globe.png' id="globe" class="globe-img"/> English
                  </a>
                </div>
                <ul>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">Русский</a></li>
                    <li><a href="#">官话</a></li>
                    <li><a href="#">العربية</a></li>
                </ul>

             </li>
             <!--<li style="color: white; border: none; padding-left: 2em; padding-right: 0;"><a href="#"><i class="fa fa-globe"></i></a></li>
             <li valign="middle" style="color: white; border: none; padding-left: 0em;"><a href="#"><i class="fa fa-search"></i></a></li>-->
            </ul>

         </nav>
         <script src="javascripts/animenu.js"></script>
       </li><!--li-menu-->
       <!--<li style="float:right;"><a class="globe" href="#"><%= image_tag 'europe-globe.png' %></a><a href="#"><i class="magglass fa fa-search"></i></a></li>-->
    </ul><!--ul-->
    </div><!--l-constrained -->
  </div><!--h-container -->
</header><!-- header-->
