<ul role="menubar">
  <li class="logo" role="menuitem">
    <h1>
      <div class="logo"><a href="#">
        <%= image_tag 'MincoLogo.png' %>
      </a></div>
    </h1>
  </li>
  <li class="menu">
    <nav class="animenu">
      <button class="animenu__toggle">
        <span class="animenu__toggle__bar"></span>
        <span class="animenu__toggle__bar"></span>
        <span class="animenu__toggle__bar"></span>
      </button>
    <ul class="animenu__nav">
      <li><a href="#">Company</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Washing</a></li>
      <li><a href="#">CSR</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <script src="javascripts/animenu.js"></script>
  </li>
  <li class="language" role="menuitem"><i class="fa fa-globe"></i></li>
  <li class="search" role="menuitem"><i class="fa fa-search"></i></li>
</u>
