<aside class="sidebar">
  <div class="sidebar-container">
    <nav class="sidebar__nav">
      <ul class="sidebar__list">
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Buy Now <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Approvals <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Quality <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Packaging <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Downloads <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Videos <i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">News<i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Links<i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">Careers<i class="fa fa-chevron-right"></i></a></li>
        <li class="sidebar__list-item"><a class="sidebar__link" href="#">FAQ<i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </nav>
  </div>
</aside>
