<aside>
  <div class="sidebar-container">
    <nav>
      <ul>
        <li><a class="list-group-item" href="#">Buy Now <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Approvals <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Quality <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Packaging <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Downloads <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Videos <i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">News<i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Links<i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">Careers<i class="fa fa-chevron-right"></i></a></li>
        <li><a class="list-group-item" href="#">FAQ<i class="fa fa-chevron-right"></i></a></li>
      </ul><!--ul-->
    </nav><!--nav-->
  </div><!--sidebar-container-->
</aside><!--aside-->
