<!--<form>
  <label>Full Name/s* (including salutations eg: Mr, Dr, etc): <br></label>
  <input type="text" name="fullname">
  <br>
  <label>Organisation:<br></label>
  <input type="text" name="organisation">
  <label>Country:<br></label>
  <input type="text" name="country">
  <label>Email Address:<br></label>
  <input type="text" name="email">
  <label>Telephone (Including full country &amp; area code)*:<br></label>
  <input type="tel" name="tel">
  <label>How can we help?*: </label>
  <textarea name="message" ></textarea>
  <br><br>
  <input type="submit" value="Submit">

</form>-->


<form>
<div>
<h1>Contact Form :</h1>
<label>
<span>Full Name/s* (including salutations eg: Mr, Dr, etc):</span><input id="name" type="text" name="name" />
</label>

<label>
<span>Organisation*:</span><input id="organisation" type="text" name="organisation" />
</label>

<label>
<span>Country*:</span><input id="country" type="text" name="country" />
</label>

<label>
<span>Email Address*:</span><input id="email" type="text" name="email" />
</label>

<label>
<span>Telephone (Including full country &amp; area code)*:</span><input id="tel" type="tel" name="tel" />
</label>

<label>
<span>How can we help?*:</span><textarea id="feedback" name="feedback"></textarea>
<input type="button" value="Send" />
</label>

</div>
</form><br><br>
