<!--<div class="transbox">
<p style="line-height: 1.2em;">Minco UK Ltd.<br>
The White House<br>
Mill Road<br>
Goring-on-Thames<br>
Berks RG8 9DD<br>
United Kingdom</p>
</div>

<div style="clear:both>"></div>

<div style="float: right;">
  <p style="line-height: 1.2em;">T: +44 (0) 20 8133 3916<br>
F: +44 (0) 20 7861 2192<br>
E: info@minco.org</p>
</div>-->

<div id="contactDetBox">
<table>
  <tr>
    <td height="1em" style="padding-right: 3em;">Minco UK Ltd.</td>
    <td height="1em">T: +44 (0) 20 8133 3916</td>
  </tr>
  <tr>
    <td style="padding-right: 3em;">The White House</td>
    <td>F: +44 (0) 20 7861 2192</td>
  </tr>
  <tr>
    <td style="padding-right: 3em;">Mill Road</td>
    <td>E: info@minco.org</td>
  </tr>
  <tr>
    <td style="padding-right: 3em;"> Goring-on-Thames</td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-right: 3em;">Berks RG8 9DD</td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-right: 3em;">United Kingdom</td>
    <td></td>
  </tr>
</table>
</div>
