
---
title: CSR
---

  <div style="clear:both;"></div>
  <div class="csr-container">
     <div class="csr1">
       <div align="left" class="headings-csr">Corporate<br>Social<br>Responsibility</div><br><br>

     </div><!--csr1-->
     <div class="csr2">
       <div class="history">
         <p style="text-align: justify"> We conduct our business responsibly in all regions of the world. Our ethics and values are embed
in our business, promoing ethical behaviour and integrity. Minco’s environmental performance and
drive towards increased sustainability, our charity work, and responsible sourcing are all examples
of such integrity.</p>

 </div><!--history-->
 <div class="csr-sub-container" style="margin-top: 40px;">
    <div class="csr-box1">
      <div align="left" class="headings-csr" style="padding-top: 1.1em;">Environmental<br>Responsibility</div><br><br>
    </div>
    <div class="csr-box2" style="padding-top: 15px;">
      <p style="font-size:1rem;" valign="middle">Learn more about our environmentally safe
products...</p>
<a href="http://localhost:4567/environmental-responsibility.html">Find out more></a></p>
    </div>
  </div>
  <div class="csr-sub-container" style="margin-top: 40px;">
   <div class="csr-box1">
     <div align="left" class="headings-csr" style="padding-top: 1.1em;">Social<br>Responsibility</div><br><br>
   </div>
   <div class="csr-box2" style="padding-top: 15px;">
     <p valign="middle">Learn more about our work to help others...</p>
     <a style="font-size:1rem;" href="http://localhost:4567/social-responsibility.html">Find out more></a></p>
   </div>
 </div>
    <div style="clear:both;"></div>
    <div class="backtotop2"><a href="#top">Back to top</a></div>
   </div><!--csr-container-->
