
---
title: CSR
---
  <div style="clear:both;"></div>
  <div class="csr-container">
     <div class="csr1">
       <div align="left" class="headings-csr">Corporate<br>Social<br>Responsibility</div><br><br>

     </div><!--csr1-->
     <div class="csr2">
       <div class="history">
         <p> We conduct our business responsibly in all regions of the world. Our ethics and values are embed
in our business, promoing ethical behaviour and integrity. Minco’s environmental performance and
drive towards increased sustainability, our charity work, and responsible sourcing are all examples
of such integrity.</p>

 </div><!--history-->
 <div class="csr-sub-container" style="margin-top: 40px;">
    <div class="csr-box1">
      <div align="left" class="headings-csr">Environmental<br>Responsibility</div><br><br>
    </div>
    <div class="csr-box2" style="padding-top: 15px;">
      <p valign="middle">Learn more about our environmentally safe
products......</p>
    </div>
  </div>
  <div class="csr-sub-container" style="margin-top: 40px;">
   <div class="csr-box1">
     <div align="left" class="headings-csr">Social<br>Responsibility</div><br><br>
   </div>
   <div class="csr-box2" style="padding-top: 15px;">
     <p valign="middle">Learn more about work to help others......</p>
   </div>
 </div>

         <div class="backtotop2"><a href="#top">Back to top</a></div>
   </div><!--csr-container-->
