
---
title: Environmental Responsibility
---

  <div class="img-container">
    <a style="backtotop" name="top"></a>
    <%= image_tag 'environment.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <div align="left" class="headings-pkgt">Environment</div><br><br>
     </div><!--pkgt1-->
     <div class="pkgt2">
       <div class="history">
         <p style="padding-bottom: 0.6em;">Minco’s chemicals are the ecologically safe way to effectively wash a gas turbine. They
have been carefully formulated to deliver optimal cleaning performance whilst still
excelling in tests for toxicity, biodegradability, toxic impurities, bioaccumulation and
tainting of marine life.</p>
        <p style="padding-bottom: 0.6em;">The environmental impact caused by our activities and products drives everything we do,
and we are always looking for new ways to reduce it. Our objective is to deliver unrivalled
cleaning excellence, which does not cost the earth. This ethos has driven new advances
in compressor washing technology, and lead to the pioneering development of one of the
first truly effective environmentally responsible cleaning fluid.</p>
         <p style="padding-bottom: 0.6em;">Our relentless desire to make things better continues today, and is evident in our most
recent achievement, a revolutionary new super-concentrated product, which provides
unparalleled benefits for the environment, as well as helping our clients meet their
own environmental objectives</p>
         <p style="padding-bottom: 0.6em;">Today all Minco products are produced under ISO 14001 and we continue to set the
standards to which others aspire.</p>
         <p>Learn more about our recyclabe and resuable packaging and our super-concentrated
cleaner.</p>
       <div class="backtotop2"><a href="#top">Back to top</a></div>
     </div><!--pkgt2-->
   </div><!--pkgt-container-->
