
---
title: KompRinz
---
  <div class="img-container">
    <%= image_tag 'Clean-in-any-wheather.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <div style="padding-bottom: 30px;"><%= image_tag 'Komprinz-Logo.png' %></div>
       <div align="center" class="headings-pkgt">Cold Weather
<br>
Wash &amp; Rinse Fluid</div>
     </div>
     <div class="pkgt2">
       <div class="history">
         <p><a style="backtotop" name="top">KompRinz</a> is a ready-to-use substitute for demineralised water, designed specifically for washing gas turbine compressors in freezing conditions. It is used both for diluting the cleaning chemical and for rinsing. The carefully controlled formulation means it is a perfect replacement for demineralised water, where cold temperatures require the use of anti-freeze additives that still comply with the strict criteria for purity and contaminants. </p><br>
         <p>KompRinz is an economical and safe solution, providing operators with complete piece of mind that both off-line and on-line washing in cold conditions can be safely performed without the risk of damage to their gas turbines. It is also biodegradable and non-toxic, so does not pose any risk of harm to workers or to the environment.</p><br>
         <p>Normally water and water-based cleaning solutions will freeze as their temperature reaches 0°C. Factors such as the cooling effect of fast moving air mean that freezing can actually occur when the ambient air temperature is 5-12°C higher. Using KompRinz instead of water means the freezing point of the fluids used for washing and rinsing will be safely and accurately depressed, ensuring fluidity is maintained. </p><br>
         <p>KompRinz works perfectly with ProtoKlenz GT and also with other compressor washing fluids.</p><br>

         <div class="headings-pkgt">Features &amp; Benefits</div>
         <div style="padding-left: 1em;" class="Features-Benefits">
           <ul>
             <li><p>Readily biodegradable</p></li>
             <li><p>Free rinsing - leaves no residue</p></li>
             <li><p>Non-corrosive to all metals</p></li>
             <li><p>Safe for all engine materials </p></li>
             <li><p>Made in the UK under ISO 9001 &amp; 14001 </p></li>
             <li><p>Stable</p></li>
             <li><p>High boiling point</p></li>
             <li><p>Suitable for off-line and on-line washing</p></li>
             <li><p>Non flammable</p></li>
             <li><p>Suitable for all types of gas turbines</p></li>
             <li><p>Non hazardous &amp; non toxic</p></li>
             <li><p>Not harmful to the environment</p></li>
            </ul>
         </div><br>
         <div class="headings-pkgt">Technical Specification</div>
         <table style="font-size: 1rem;">
           <tr>
             <td style="padding-right: 1em;">Appearance</td>
             <td>Colourless clear liquid </td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Odour </td>
             <td>No characteristic odour </td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Density at 0°C 	</td>
             <td>1.0 Sg. (Typical)</td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Boiling Point </td>
             <td>> 100°C </td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Flash Point </td>
             <td>None to boiling </td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Freeze Point</td>
             <td>-17°C </td>
           </tr>
           <tr>
             <td style="padding-right: 1em;">Water Solubility</td>
             <td>Completely soluble</td>
           </tr>
         </table><br>
         <div class="history">
           <div class="headings-pkgt">Packaging</div>
           <p>1,000 litre (IBC) plastic containers.</p>
         </div><br>
         <div class="history">
           <div class="headings-pkgt">Usage </div>
           <p>Diluting ProtoKlenz GT at a ratio of 4:1, results in a wash solution suitable for compressor inlet temperatures down to -13°C, (and for rinsing down to -17°C). Lower freeze point versions of KompRinz are available on request.</p>
         </div><br>


         <div class="backtotop2"><a href="#top">Back to top</a></div>
     </div>
   </div>

 </div>
