---
title: Products
---

<div style="padding-bottom: 20px;">

 <div class="product-container" style="margin-top: 40px;">
    <div class="product1">
      <p valign="middle"><%= image_tag 'PKGT.png' %>
      <br>Safe, Clean<br> &amp; Effective</p><br>
    </div>
    <div class="product2" style="padding-top: 15px;">
      <p valign="middle">Advanced off-line<br>and on-line cleaner<br>
      <a href="">Find out more></a></p>
    </div>
  </div>
  <div class="product-container">
     <div class="product1">
       <p valign="middle"><%= image_tag 'PKGT-SC.png' %><br>
       75% less<br>Waste </p>
     </div>
     <div class="product2" style="padding-top: 15px;">
       <p valign="middle">Super-concentrated off-line<br>and on-line cleaner<br>
       <a href="">Find out more></a></p>
     </div>
   </div>
   <div class="product-container" style="margin-bottom: 50px;">
      <div class="product1">
        <p valign="middle"><%= image_tag 'Komprinz-Logo.png' %><br>
        Clean in Any<br> Weather</p><br>
      </div>
      <div class="product2" style="padding-top: 25px;">
        <p>Cold weather<br>wash &amp; rinse fluid<br><a href="">Find out more></a></p>
      </div>
    </div>

</div>
