---
title: Products
---
  <div class="img-container">




 </div>

<div style="clear:both;"></div>

 <div class="">
    <div class="product1">
      <%= image_tag 'PKGT.png' %>
      <p>Safe, Clean<br> &amp; Effective</p><br>
    </div>
    <div class="product2">
      <p>Advanced off-line<br>and on-line cleaner</p>
      <p><a href="">Find out more></a></p>
    </div>
  </div>
  <div class="">
     <div class="product1">
       <%= image_tag 'PKGT-SC.png' %>
       <p>75% less<br>Waste </p><br>
     </div>
     <div class="product2">
       <p>Super-concentrated off-line<br>and on-line cleaner</p>
       <p><a href="">Find out more></a></p>
     </div>
   </div>
   <div class="">
      <div class="product1">
        <%= image_tag 'Komprinz-Logo.png' %>
        <p>Clean in Any<br> Weather</p><br>
      </div>
      <div class="product2">
        <p>Cold weather<br>wash &amp; rinse fluid</p>
        <p><a href="">Find out more></a></p>
      </div>
    </div>

</div>
