---
title: ProtoKlenz GT
---
  <div class="img-container">
    <%= image_tag 'pkgt-img.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <%= image_tag 'PKGT.png' %>
       <%= image_tag 'approved.jpg' %>
     </div>
     <div class="pkgt2">
       <div class="history">
         <p style="font-weight: bold;">ProtoKlenz GT is the ultimate gas turbine cleaning chemical, specifically formulated to be tough on fouling, yet safe for all engine materials and components.</p><br>
         <p>This powerful detergent quickly and completely removes even the most stubborn baked-on deposits, and is particularly effective against poorly soluble hydrocarbons such as oil and grease. Dirt is rapidly lifted and converted into an irreversible emulsion, that is easily rinsed clear of the engine without any chance of redepositing.  </p><br>
         <p>Amazingly ProtoKlenzTGT delivers this uncompromising cleaning performance whilst still being non-hazardous, which means it is safe for the people working with it, but also environmentally safe, excelling in tests for toxicity, biodegradability, toxic impurities, bioaccumulation and tainting of marine life. </p><br>
         <p>Reveal your turbine's full potential....</p><br>
         <p>Find out more ></p><br>

         <div class="headings">Intelligent Chemistry</div>
         <p>ProtoKlenz GT's effectiveness is due to a synergy of complimentary chemical actions. Exceptional wetting ability encourages chemical reactions and enhanced penetration at the surface of the dirt, promoting highly-active micelle formations that literally tear the fouling apart. The removed dirt is then locked in a liquid suspension, that can be quickly and easily rinsed clear of the engine without any chance of redepositing. </p><br>
         <p>It is naturally non-corrosive and does not contains any corrosion inhibiting additives, which form thin uneven films on the blades that are difficult to rinse off properly and could even become sticky or baked-on at higher temperatures. Along with low levels of foam, this means thorough rinsing is quick and easy using the minimal amount of water. ProtoKlenz GT is also non-hazardous making it safe and easy to work with, and in most countries it is considered so ecologically safe, controlled discharge into the sea and into rain water drains is even permitted. </p><br>
         <p>An innovative non-ionic formulation means it is resistant to deactivation when salt and minerals in the fouling are dissolved into the cleaning solution. This lack of ions, along with its pH neutrality, also means it is completely safe for all materials, coatings and components found in a modern gas turbine engine.</p><br>

         <div class="headings">Dilution</div>
         <p>4:1 (80% demin water with 20% ProtoKlenz GT).</p><br>

         <div class="headings">Application</div>
         <p>Use for Off-line and On-line washing with any injection system, in accordance with the engine manufacturer’s instructions.</p><br>

         <div class="headings">Features &amp; Benefits</div>
         <div style="padding-left: 1em;">
           <ul>
             <li>OEM Approved / Compliant</li>
             <li>Meets MIL Specifications</li>
             <li>Concentrated solution</li>
             <li>Improves Off-line &amp; On-line washing</li>
             <li>Environmentally Safe</li>
             <li>Non-corrosive</li>
             <li>No sticky corrosion inhibitors</li>
             <li>Free rinsing - leaves no residue</li>
             <li>Safe for all engine surfaces</li>
             <li>Non-flammable solution</li>
             <li>Low foam - less water for rinsing</li>
             <li>Miscible with most anti freeze agents</li>
             <li>Made in the U.K. - ISO 9001 &amp; 14001</li>
             <li>Ultra low ash</li>
             <li>Stable - can be pre-diluted for later use</li>
             <li>Available in various concentrations</li>
             <li>Suitable for any GT and wash system</li>
             <li>Completely removes all types of fouling</li>
             <li>Prolongs component life</li>
             <li>Improves GT efficiency</li>
             <li>Non-Hazardous (EU Classification)</li>
             <li>No restrictions when transporting</li>
             <li>Best value and results among cleaners</li>
           </ul>
         </div><br>

       <div class="headings">Specification</div>
       <p>Appearance<br>
          Odour<br>
          Density at 20°C<br>
          PH at 20°C<br>
          Flash Point<br>
          Initial Boiling Point<br>
          Freezing Point<br>
          Water Solubility<br>
          Transportation<br>
          Biodegradability<br><br>

          Clear Liquid<br>
          Characteristic Ethereal 	1.0<br>
          Neutral<br>
          None to boiling<br>
          100°C<br>
          &lt;0°C<br>
          Completely Soluble<br>
          Not Regulated<br>
          Readily (OECD)
        </p><br>

        <div class="headings">Packaging</div>
        <p>25, 210 or 1,000 litre recyclable plastic containers.</p>
       </div>
     </div>
   </div>

 </div>
