---
title: ProtoKlenz GT
---
  <div class="img-container">
  <%= image_tag 'pkgt-img.jpg' %>
 </div>

<div style="clear:both;"></div>

 <div class="company_text">
   <div class="history">
     <div class="headings">History</div>
     <p>Minco was established in 1995 in response to a growing demand for truly effective yet affordable gas turbine compressor cleaners. At the time washing was a low-tech science and one we believed was not advancing quickly enough, so a specialist team of chemists and industry experts came together to develop better products to meet this demand.</p><br>
         <p>Initially we worked closely with the OEMs and turbine operators, learning all we could about the evolving practice of washing, and what they hoped could be achieved. After building up a deep understanding of the science of off-line and on-line washing, and carefully considering all types of fouling, under the extreme conditions inside a fired turbine, our chemists then began formulating new products with a very clear objective in mind. Minco cleaners would be designed specifically to meet the bespoke and demanding requirements of compressor washing whilst outperforming any other cleaners on the market. </p><br>
         <p style="padding-bottom: 2em;">Chemical technology was advancing, but so was demand for better and safer products. Expectations were high but developing a product with uncompromising cleaning performance that was both greener and safer, whilst still complying with the tight OEM specifications for both off-line and on-line washing, was a challenge. After extensive research, testing, trial and error, and by employing some clever and innovative chemistry and manufacturing techniques, we eventually succeeded, taking compressor chemical cleaning technology to the next level and giving birth to the Minco brand of Chemicals.</p>
   </div>
   <div class="today">
     <div class="headings">Today</div>
     <p>Today Minco is a market leader, with our products sold and used all over the world, but they are all still manufactured in the U.K. by an expert team of chemists under ISO 9001 & 14001, ensuring the highest standards are delivered time and again.</p><br>
         <p style="padding-bottom: 2em;">Whether operating the largest power generation turbines or the smallest jet engines, in the freezing wilderness of Siberia to the ferocious heat of the Arabian Desert, one thing all our customers recognise is the improved cleaning performance and enhanced value they get from using a Minco product.</p>
   </div>
   <div class="philosophy">
     <div class="headings">Philosophy</div>
     <p style="font-style: italic;">“Innovation and Excellence will drive Success.”</p><br>
         <p><span style="font-weight: bold;">Innovation: </span>To us, innovation is primarily about solving our clients’ problems. This involves finding better ways to do things by actively reaching out to our clients to identify, assess, share and implement ideas.</p><br>
         <p><span style="font-weight: bold;">Excellence: </span> In everything we do, from researching and developing products, to a relentless focus on resource efficiency and best practice in supply chain management. We will endeavour to continually improve the value and level of customer satisfaction we deliver.</p><br>
         <p style="padding-bottom: 2em;"><span style="font-weight: bold;">Success: </span>Our success can only be sustainable if we continuously meet or exceed customer expectations and help them to achieve their objectives. Being innovative and striving for excellence will drive our own success by ensuring our products and service are the best they can be, and our customers choose Minco time after time.</p>
   </div>
   <div>
     <div class="headings">Mission Statement</div>
     <p style="padding-bottom: 2em; font-style: italic;">“To be the market leader in terms of quality, value for money and customer satisfaction, by targeting excellence and innovation in everything we do, from our chemistry to our after-sales support, whilst at the same time being mindful of our activities and any negative impact caused by them and striving to do things, and make things, better for everyone’s benefit”. </p>
   </div>

   <div>
     <div class="headings">Future</div>
     <p>We aim to continue developing products and our business, establishing more distribution centres and partnerships around the world to bring the convenience of local supply and support to operators in new countries and regions. We will work to enhance the value and service we can deliver to our customers.</p>
   </div>
</div>
