
---
title: ProtoKlenz GT-SC
---
  <div class="img-container">
    <%= image_tag 'pkgt-sc-img.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <div style="padding-bottom: 30px;"><%= image_tag 'PKGT-SC.png' %></div>
       <div class="side-headings"><p>19:1 Dilution Ratio<br>
(Super-Concentrated)</p></div>
       <div class="side-headings"><p>Emissions<br>
Reduced</p></div>
       <div class="side-headings"><p>Lower:
<br>
Transport Costs</p></div>
       <div class="side-headings"><p>Lower:<br>
Packaging Costs</p></div>
       <div class="side-headings"><p>Lower:<br>
Environmental Costs</p></div>
     </div>
     <div class="pkgt2">
       <div class="history">
         <p><a style="backtotop" name="top">ProtoKlenz GT</a> ProtoKlenz GT-SC is a revolutionary new “Super-Concentrated” gas turbine
compressor wash fluid, with a 19:1 dilution ratio, making it 4 times more
concentrated than standard 4:1 products.</p><br>
         <p>This equates to savings on transportation, packaging, storage and a significantly reduced environmental impact.</p><br>

         <div class="headings-pkgt">75% Less Waste</div>
         <p>The high concentration means you only need 1 container for every 4 required with
a standard, 4:1 dilution, product.</p><br>
         <p>This means financial savings on transportation and packaging. It also means greater
convenience as there will be less containers to move about, store and ultimately
dispose of.</p><br>
         <p>ProtoKlenz GT-SC is a simple way to save money, eliminate waste and reduce your
carbon footprint.</p><br>

         <div class="headings-pkgt">Simple</div>
         <p>Our latest advancement in cleaning chemical technology, means you can enjoy all
the great features and cleaning power of our standard ProtoKlenz GT for less.</p><br>
         <p>There is no additional cost to use this product. ProtoKlenz GT-SC simply needs to
be diluted in the same way as any other compressor washing chemical, using OEM
compliant demineralised water.</p><br>
         <p>It is available in a range of packaging from 25 litres, up to 1,000 litre reusable IBCs.</p><br>


         <div class="headings-pkgt">Features &amp; Benefits</div>
         <div style="padding-left: 1em;" class="Features-Benefits">
           <ul>
             <li><p>OEM approved/compliant</p></li>
             <li><p>Savings on transportation</p></li>
             <li><p>Savings on packaging costs</p></li>
             <li><p>Less waste to dispose of</p></li>
             <li><p>Reduced storage &amp; handling</p></li>
             <li><p>Improved environmental responsibility</p></li>
             <li><p>Improved on-line &amp; off-line washing</p></li>
             <li><p>Environmentally safe chemistry</p></li>
             <li><p>Free rinsing - leaves no residue</p></li>
             <li><p>Low foam - less water to rinse</p></li>
             <li><p>Safe for all engine surfaces</p></li>
             <li><p>Made in the UK - ISO 9001 &amp; 14001</p></li>
             <li><p>Stable - can be pre-diluted for later use</p></li>
             <li><p>Suitable for any GT and wash system</p></li>
             <li><p>Best value and results among cleaners</p></li>
             <li><p>Completely removes all types of fouling</p></li>
             <li><p>Prolongs component life</p></li>
             <li><p>Helps to maximise your profits</p></li>
           </ul>
         </div><br>
         <div class="backtotop2"><a href="#top">Back to top</a></div>
     </div>
   </div>

 </div>
