
---
title: Environmental Responsibility
---

  <div class="img-container">
    <a style="backtotop" name="top"></a>
    <%= image_tag 'sr.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <div align="left" class="headings-pkgt">Environment</div><br><br>
     </div><!--pkgt1-->
     <div class="pkgt2">
       <div class="history">
         <p style="padding-bottom: 0.6em;">In this modern world of inequality, it is important that we give something back. Minco
is proud to support Water Aid, a charity that aims to change people’s lives for the
better. We therefore pledge to donate money to Water Aid for every litre of chemical
you buy.</p>
        <p style="padding-bottom: 0.6em;">For more information about our charitable activities feel free to contact us at csr@
minco.org</p>
         <p style="padding-bottom: 0.6em;">Giving something back is an idea that is close to our hearts at Minco, and we are proud
of our support for Water Aid. This charity does incredible work around the world bringing
water to those who need it most. By donating we are helping them to build wells (which
cost around €10) which are changing lives, and going further than just quenching
someone’s thirst. It gives people a chance to grow their own crops, avoid illness and even
allows children to go to school.</p>
         <p style="padding-bottom: 0.6em;">We pledge to donate something from the money we receive from every single every litre
of chemicals sold. For every litre of product we sell we will donate 1p. If you wish to also
make a donation please do so by contacting Water Aid directly. Together we can make a
difference to the lives of those less fortunate. For more information about our charitable
activities feel free to contact us at csr@minco.org</p>

  <div class="img-container">
    <%= image_tag 'water.jpg' %><a target="_blank" href="http://www.wateraid.org/uk"><%= image_tag 'water-aid.jpg' %></a>
  </div>


       <div class="backtotop2"><a href="#top">Back to top</a></div>
     </div><!--pkgt2-->
   </div><!--pkgt-container-->
