
---
title: Washing
---

  <div class="img-container">
    <a style="backtotop" name="top"></a>
    <%= image_tag 'preference-chemistry.jpg' %>
  </div>

<div style="clear:both;"></div>


  <div class="pkgt-container">
     <div class="pkgt1">
       <div align="left" class="headings-pkgt">Why wash?</div><br><br>
       <div style="line-height: 1.2em;" align="left" class="headings-pkgt">An MS9001F turbine<br>
consumes air at a<br>
rate of 587 kg/sec.</div>
      <div style="line-height: 1.2em;" style="font-size: 1em;" align="left" class="headings-pkgt">(Source: General Electric)</div><br><br>
      <div style="line-height: 1.2em;" align="left" class="headings-pkgt">If that filtered<br>air contains a<br>mere 20ppmw of<br>impurities, that<br>would equate to over<br>a tonne of material<br>
ingested every day.</div><br><br>
      <div style="line-height: 1.2em;" align="left" class="headings-pkgt">For a typical<br>113MW turbine,<br>an average 2%<br>power loss and<br>0.5% heat gain,<br>would cost $1m<br>
per year.</div><br><br>

      <div style="line-height: 1.2em;" align="left" class="headings-pkgt">Washing
Methods</div><br><br>


     </div><!--pkgt1-->
     <div class="pkgt2">
       <div class="history">
         <p> A typical modern gas turbine, in simple cycle, converts only around 40% of
the energy it consumes into useful MW output. Most of the power is actually
used to drive the compressor, it will ideally be operating as efficiently as
possible, and this means being as clean as possible.</p><br>
        <p>The problem is that in spite of all the latest advances in filter technology,
millions of undesirable microscopic particles will still be drawn into
the turbine every second. Most of these particles will pass harmlessly
through the compressor, but some will stick to the blades and to
each other. Over time deposits (fouling) will build-up, causing an undesirable roughness. In a gas turbine compressor this means a deterioration
in the aerodynamic form of the aerofoil blades, resulting in reduced air flow,
higher air temperature and a lower pressure ratio which mean reduced
efficiency and output, and increased environmental damage. There is also the
issue of corrosive depositions which can lead to irreversible damage.</p><br>
         <p>This dirt (or fouling as it is more commonly known) is the single biggest cause of
performance losses, accounting for 85% of total of the total gas turbine losses.
It is therefore a very serious and potentially costly problem, so compressors
must be cleaned regularly to optimise their performance.</p><br>
         <p>Washing is the best way to do this, although fouling tends to be insoluble and
resistant to cleaning with water alone, and where the temperatures are high
enough, can be baked-on to surfaces, sometimes forming fairly thick coatings
which are difficult to remove. Using a powerful detergent like ProtoKlenz GT
will therefore ensure all dirt is removed quickly, safely and completely.</p><br><br>

<div class="headings-pkgt">Off-Line (Soak or Crank) Washing</div>

<div class="img-container">
  <a style="backtotop" name="top"></a>
  <%= image_tag 'offline.png' %>
</div><br>

<p>Off-line washing is conducted with the gas turbine
in a cooled state, by injecting a cleaning solution
into the compressor while it is being turned at
cranking speed</p><br>

<p>Once the chemicals are injected into the
compressor, the gas turbine is shut off and allowed
to come to a halt. The chemicals are then left to
soak for 20-30 minutes, before being rinsed with
demineralised or deionised water.</p><br>

<p>The main drawback is the amount of time the
turbine must be taken out of operation to allow
it to cool and be prepared for washing. The
efficiency of crank washes however is very high,
and the power recovery is close to the original
level or the level reached after a major overhaul.</p><br>

<div class="headings-pkgt">On-Line (Fired) Washing</div><br>

<div class="img-container">
  <a style="backtotop" name="top"></a>
  <%= image_tag 'online.png' %>
</div>

<p>This involves regularly spraying a cleaning
solution into a compressor running at full
speed. High operating temperatures inside the
compressor, the high centrifugal forces on the
injected liquid and the short contact time of
the wash solution with the fouling all limit the
effectiveness of this method.</p><br>

<p>The washing fluid will however reach the inlet
guide vanes and first stage compressor blades
which will result in some power recovery. This
improves availability by slowing the rate of loss
of output and prolonging the time between
off-line washes. Using a suitable detergent
will improve the wetting abilities of the wash
solution, improving contact with the fouling so
improving the cleaning effect, and also reducing
the total amount of liquid required per wash.</p><br>




         <div class="backtotop2"><a href="#top">Back to top</a></div>
     </div><!--pkgt2-->
   </div><!--pkgt-container-->
